<h1>
    Juego Aleatorio:
</h1>

<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>

<p>
    ¡Enhorabuena, has completado todas las preguntas!
</p>

<p>
    <a href="/quizzes"> FIN </a>
</p>
